{% extends 'base.html.twig' %}

{% block title %}Service index{% endblock %}

{% block body %}
    <h1>Service index</h1>

    <table class="table table-hover">
        <thead>
            <tr>
                <th>Id</th>
                <th>Libelle</th>
                <th>Description</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for service in services %}
            <tr>
                <td>{{ service.id }}</td>
                <td>{{ service.libelle }}</td>
                <td>{{ service.description }}</td>
                <td>
                    <button type="button" class="btn btn-info"><a href="{{ path('service_show', {'id': service.id}) }}">show</a></button>
                    <button type="button" class="btn btn-danger"><a href="{{ path('service_edit', {'id': service.id}) }}">edit</a></button>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <button type="button" class="btn btn-outline-success"><a href="{{ path('service_new') }}">Create new</a></button>
{% endblock %}
