{% extends 'base.html.twig' %}

{% block title %}Medecin index{% endblock %}

{% block body %}
    <h1>Medecin index</h1>

    <table class="table table-hover">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom_med</th>
                <th>Nom</th>
                <th>Email</th>
                <th>Adresse</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for medecin in medecins %}
            <tr>
                <td>{{ medecin.id }}</td>
                <td>{{ medecin.nomMed }}</td>
                <td>{{ medecin.nom }}</td>
                <td>{{ medecin.email }}</td>
                <td>{{ medecin.adresse }}</td>
                <td>
                    <button type="button" class="btn btn-info"><a href="{{ path('medecin_show', {'id': medecin.id}) }}">show</a></button>
                    <button type="button" class="btn btn-danger"><a href="{{ path('medecin_edit', {'id': medecin.id}) }}">edit</a></button>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <button type="button" class="btn btn-outline-success"><a href="{{ path('medecin_new') }}">Create new</a></button>
{% endblock %}
